body
{
    background-color: #05000a;
    
}

nav
{
    color: white;
}
/*
.menu
{
    padding: 5px;
    background-color: #080049;
    position: absolute;
    left: 50px;
    top: 150px;
}
*/
.things
{
    padding: 3px;
    background-color: #390097;
    position: absolute;
    left: 40px;
    color: #977eff;

}

.main9
{
    width: 140;
    height: 531;
    position: absolute;
    left: 425px;
    bottom: 150px;
    
}

.image9
{
    width: 175px;
    height: 175px;
    position: relative;
    left: 40px;
}

.image
{
    width: 175px;
    height: 175px;
    position: relative;
    left: 65px;
}


a
{
    color: #d500ff;
}
