body
{
    background-color: #05000a;
    
}

nav
{
    color: white;
}
/*
.menu
{
    padding: 5px;
    background-color: #080049;
    position: absolute;
    left: 50px;
    top: 150px;
}
*/
.things
{
    padding: 3px;
    background-color: #390097;
    position: absolute;
    left: 40px;
    color: #977eff;

}

.main9
{
    width: 20%;
    height: 20%;
    position: sticky;
    left: 1199px;
    
}

.image9
{
    width: 14%;
    height: 14%;
    position: sticky;
    left: 50px;
}

.image
{
    /*padding-left: 3px;*/
    width: 16%;
    height: 16%;
    position: sticky;
    left: 85px;
}

a
{
    color: #d500ff;
}
