body
{
    background-color: #05000a;
    
}

nav
{
    color: white;
}
/*
.menu
{
    padding: 5px;
    background-color: #080049;
    position: absolute;
    left: 50px;
    top: 150px;
}
*/
.things
{
    padding: 3px;
    background-color: #390097;
    position: absolute;
    left: 40px;
    color: #977eff;

}

.main9
{
    width: 20%;
    height: 20%;
    position: sticky;
    left: 999px;
    
}

.image
{
    width: 20%;
    height: 20%;
    position: relative;
    left: 50px;
    top: 500px;

}

a
{
    color: #d500ff;
}
